.container.padding-top-130
  .title.form-group
    Vote and help the community to choose the best movie for their couch party.
  - @owned_groups.each do |group|
    .box-area.form-group
      = render group