/ Create Group View
.create-group-area.padding-top-130
  .container
    .row
      .col-md-10.col-md-offset-1
        .box-area.row
          .col-md-12
            .title.form-group
              Create a couch party
          = render 'form'

