%footer.main-footer
  .row
    .container
      .col-md-3
        %p Built by team LottafGuys
      .col-md-3
        .col-md-6
          %p The team:
        .col-md-6
          %p @juancamilortiz
          %p @andresilvagomez
          %p @jomarin_1983
          %p @luisdgutierrez5
      .col-md-4
        %p.text--center 2014 CouchParty - All Rigths Reserved
      .col-md-2
        = link_to "http://railsrumble.com/entries/all?utf8=%E2%9C%93&q=lottaguys" do
          = image_tag "logo_rumble.png"
