%header.home-navbar
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".bs-navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "../"} Couch Party
    = render 'layouts/navigation_links'

- if current_page?(root_path)
  = render 'layouts/header'
